<footer class="page-footer font-small blue">
  <div class="footer-copyright text-center py-3">© 2021 SpyParser:
    <a href="https://github.com/LDudchenko">By Liudmila Dudchenko</a>
  </div>
</footer>
</body>
</html>