{{> header}}
<div class="container">
    <div class="greeting">
        <span>Привіт, це невеличкий Spy Parser, що дозволить тобі дізнатися про нові пропозиції щодо оренди нерухомості!<br></span>
        Щоб почати необхідно створити свій запит, перейшовши за третім пунктом в меню. Для перегляду оновлень - тисни другий пункт.
    </div>
</div>
{{> footer}}